@font-face {
  font-family: 'Karla';
  src: url("./resources/fonts/Karla/Karla-Regular.ttf") format("truetype")
}

@font-face {
  font-family: 'Karla-Bold';
  src: url("./resources/fonts/Karla/Karla-Bold.ttf") format("truetype")
}

@font-face {
  font-family: 'Karla-Italic';
  src: url("./resources/fonts/Karla/Karla-Italic.ttf") format("truetype")
}

@font-face {
  font-family: 'Karla-Bolditalic';
  src: url("./resources/fonts/Karla/Karla-BoldItalic.ttf") format("truetype")
}

@font-face {
  font-family: 'Tiempos';
  src: url("./resources/fonts/Times/TiemposText-Bold.ttf") format("truetype")
}


body {
  color: #1e1e1e;
  margin: 0;
  font-family: 'Karla';
  font-weight: 400;
  font-size: 1rem;
}

a {
  color: #3aa8ff;
  text-decoration: none;
  &:hover {
    color: #136eb6;
  }
}

header {
  align-items: center;
  display: flex;
  height: 65px;
  div, nav {
    display: flex;
    align-items: center;
    .nav-item {
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  a {
    color: inherit;
    &:hover {
      color: #3aa8ff;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 950px;
  width: 90%;
  &.header-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.masonry {
  background-color: tan;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 900px;
  .item {
    background-color: tomato;
    margin: 20px;
    //margin-right: 20px;
    height: auto;
    min-height: 300px;
    width: calc((100% / 2) - 40px);
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 12px 0 silver;
    }
  }
}

.logo {
  font-family: 'Tiempos';
  font-size: 24px;
  font-weight: 700;
}

.main-title {
  font-family: 'Tiempos';
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  margin-bottom: 15px;
}

.title {
  font-family: 'Tiempos';
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.hero {
  align-items: center;
  //background-color: rosybrown;
  display: flex;
  flex-direction: row;
  height: 85vh;
  justify-content: space-between;
  .bio-container {
    .greeting {
      color: silver;
      font-size: 28px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .bio {
      color: silver;
      font-weight: 400;
      font-size: 28px;
      line-height: 36px;
      margin: 0;
    }
  }
}

footer {
  padding: 60px 0;
  h3 {
    margin: 15px 0;
  }
  a {
    font-size: 18px;
  }
  .column-container {
    display: flex;
    height: 150px;
    .first-column {
      display: flex;
      flex: 0 1 65%;
      flex-direction: column;
      justify-content: space-between;
    }
    .second-column {
      display: flex;
      flex: 0 1 35%;
      padding-left: 45px;
      flex-direction: column;
      justify-content: space-between;
      .footer-links-container {
        display: flex;
        .footer-link {
          align-items: center;
          display: flex;
          border-radius: 50%;
          background-color: silver;
          justify-content: center;
          height: 40px;
          width: 40px;
          margin-right: 8px;
          .link-icon {
            color: #fff;
            font-size: 18px;
          }
        }
      }
    }
  }
}
